@import "./variable.scss";
@import "./custom.scss";
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    header {
        top: 0;
        width: 100%;
        height: 80px;
        background: #0023B0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 108px;
        position: fixed;
        z-index: 100;
        .menu {
            ul {
                margin-bottom: 0;
                display: flex;
                li {
                    margin-left: 31px;
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        font: {
                            family: $mainFont;
                            size: 18px;
                            weight: bold;
                        }
                        color: white;
                    }
                }
            }
        }
        .notification {
            display: flex;
            align-items: center;
            .notice-item {
                width: 28px;
                height: 30.5px;
                position: relative;
                display: inline-block;
                margin-left: 13px;
                .icon {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                .badge {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .auth {
                #login {
                    width: 200px;
                    height: 50px;
                    background: white;
                    border: 2px solid #2A50E8;
                    border-radius: 25px;
                    color: #2A50E8;
                    font: {
                        family: $mainFont;
                        size: 18px;
                        weight: bold;
                    }
                }
                #register {
                    color: white;
                    text-decoration: none;
                    margin: 0 18px;
                    font: {
                        family: $mainFont;
                        size: 18px;
                        weight: bold;
                    }
                }
            }
        }
    }
    .banner {
        width: 100%;
        height: 550px !important;
        background: #0023B0;
        position: relative;
        padding: 108px 0 0 105px;
        margin-top: 80px;
        .banner-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .heading {
            width: 700px;
            .title {
                font: {
                    size: 55px;
                    weight: bold;
                    family: $mainFont;
                }
                line-height: 55px;
                color: white;
                white-space: -33px;
                margin-bottom: 20.6px;
            }
            .description {
                font: {
                    size: 18px;
                    family: $mainFont;
                    weight: 500;
                }
                color: white;
                line-height: 22px;
                margin-bottom: 20px;
            }
            #suggest-topic {
                width: 261px;
                height: 55px;
                border: 2px solid white;
                border-radius: 28px;
                background: none;
                color: white;
                font: {
                    size: 18px;
                    family: $mainFont;
                    weight: 600;
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 26px;
                }
            }
        }
    }
    .section-1 {
        width: 100%;
        padding: 74px 133.5px;
        background: white;
        .title {
            display: flex;
            align-items: center;
            color: black;
            margin-bottom: 93px;
            img {
                margin-right: 28px;
            }
            font: {
                size: 32px;
                weight: bold;
                family: $mainFont;
            }
        }
        .user-cards {
            display: flex;
            .user-card {
                width: 420px;
                background: white;
                border: 2px solid #DBDBDB;
                border-radius: 9px;
                box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
                margin-right: 22px;
                .header {
                    width: 100%;
                    height: 87px;
                    display: flex;
                    align-items: center;
                    border-radius: 7px 7px 0 0;
                    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
                    padding: 0 38px;
                    color: white;
                    font: {
                        size: 18px;
                        weight: 600;
                        family: $mainFont;
                    }
                    line-height: 22px;
                    img {
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                }
                .content {
                    height: 280px;
                    padding: 22px 31.5px 0;
                    .live {
                        width: 180px;
                        height: 35px;
                        background: #FF0D0D;
                        border-radius: 18px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                        color: white;
                        font: {
                            size: 16px;
                            family: $Roboto;
                        }
                        line-height: 22px;
                        border: none;
                        img {
                            margin-right: 10px;
                        }
                        margin-bottom: 16px;
                    }
                    .title {
                        font: {
                            size: 35px;
                            family: $Raleway;
                            weight: 800;
                        }
                        color: #12209D;
                        line-height: 35px;
                        margin-bottom: 6px;
                    }
                    .description {
                        font: {
                            size: 20px;
                            family: $Segoe;
                        }
                        line-height: 22px;
                        color: #707070;
                    }
                }
                .footer {
                    padding: 0 31.5px 35.8px;
                    p {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 24px;
                        img {
                            margin-right: 13px;
                        }
                        span {
                            display: flex;
                            align-items: center;
                            font: {
                                family: $SourceSansPro;
                                size: 18px;
                                weight: 600;
                            }
                        }
                    }
                    .signup {
                        width: 100%;
                        height: 55px;
                        background: #2A50E8;
                        border-radius: 28px;
                        color: white;
                        text-align: center;
                        position: relative;
                        font: {
                            family: $mainFont;
                            size: 20px;
                            weight: bold;
                        }
                        line-height: 24px;
                        border: none;
                        img {
                            position: absolute;
                            top: 15px;
                            left: 40px;
                        }
                    }
                }
            }
            .user-card.pink {
                .header {
                    background: #613A80;
                    img {
                        border: 2px solid #512573;
                    }
                }
            }
            .user-card.green {
                .header {
                    background: #088B5F;
                    img {
                        border: 2px solid #0D4216;
                    }
                }
            }
        }
    }
    .section-2 {
        width: 100%;
        background: black;
        padding: 87.5px 153px 95px;
        .title {
            display: flex;
            align-items: center;
            color: white;
            margin-bottom: 62px;
            img {
                margin-right: 28px;
            }
            font: {
                size: 32px;
                weight: bold;
                family: $mainFont;
            }
        }
        .broadcasts {
            .broadcast {
                margin-bottom: 20px;
                .body {
                    width: 100%;
                    height: 197px;
                    background: white;
                }
                .footer {
                    width: 100%;
                    height: 202px;
                    padding: 33px 28px;
                    .title {
                        color: white;
                        margin-bottom: 10px;
                        font: {
                            family: $Raleway;
                            size: 28px;
                            weight: 800;
                        }
                        line-height: 28px;
                    }
                    .user-info {
                        display: flex;
                        align-items: center;
                        .avatar {
                            margin-right: 9px;
                        }
                        .name {
                            color: white !important;
                            font: {
                                family: $mainFont;
                                size: 16px;
                            }
                            line-height: 19px;
                        }
                        margin-bottom: 22px;
                    }
                    .detail-info {
                        span {
                            font: {
                                family: $mainFont;
                                size: 16px;
                            }
                            color: white;
                            line-height: 19px;
                            margin-right: 32px;
                            img {
                                margin-right: 9px;
                            }
                        }
                    }
                }
            }
            .broadcast.red {
                .footer {
                    background: #E30B0B;
                }
            }
            .broadcast.green {
                .footer {
                    background: #0A5947;
                }
            }
            .broadcast.dark-blue {
                .footer {
                    background: #0A0A59;
                }
            }
            .broadcast.blue {
                .footer {
                    background: #0C4FD3;
                }
            }
        }
        .comment {
            color: white;
            margin-top: 45px;
            text-align: center;
            font: {
                size: 22px;
                family: $SourceSansPro;
                weight: bold;
            }
            line-height: 28px;
            margin-bottom: 0;
        }
    }
}

@media(max-width: 1400px) {
    .section-2 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}